.a1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-log {
  height: 2rem;
  width: 2rem;
  border-radius: 0.7rem;
}

.btn-log:hover {
  background-color: lightgray;
  cursor: pointer;
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 8px #FF0000;
  font-family: cursive;

}

.inp-a {
  height: 1.7rem;
  width: 10rem;
  border-radius: 2rem;
  border: 2px none;
}


.a11 {
  display: flex;
  justify-content: center;
align-items: center;
flex-direction: column;
  margin-top: 12rem;
  background-color: #2c3e50;
  border: 2px solid;
  box-shadow: 12px 12px 7px rgba(0, 0, 0, .7);
  width: 50%;
  /* margin: auto; */


}

input {
  text-align: center;
  font-family: cursive;

}

ol {

  width: 20rem;
  border: 2px solid;
  border-radius: 2rem;
  background-color: whitesmoke;
}

li {
  /* border: 2px solid; */
  padding: .65rem;
  /* border-radius: 1rem; */
  cursor: pointer;
  font-size: larger;
  font-family: cursive;
}

li:hover {
  color: red;
}

.inp-b {
  height: 1.7rem;
  width: 10rem;
  margin-top: 1rem;
  border-radius: 2rem;
  border: 2px none;
}

.inp-b:hover {
  background-color: linen;
}

.a2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-b {
  height: 2rem;
  width: 2rem;
  border-radius: 0.7rem;
  margin-top: 1rem;


}

.btn-b:hover {
  background-color: lightgray;
  cursor: pointer;
}

body {
  background: linear-gradient(300deg, #e6be8a, #F7EF8A, #d4f37d);
  background-size: 180% 180%;
  animation: gradient-animation 8s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
.a111{
  width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}